<div class="container__big-card">

  <div class="big-card__picture">
    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqFTnUZhP5BoG2JeY2fYo2ypFduthqT_VQNQ&usqp=CAU"
    alt=""
    height="200PX"
    srcset="">
  </div>

  <div class="big-card__title">
    <h1><a href="#"> Versão do Angular</a></h1>
  </div>

  <div class="big_card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec tincidunt justo leo, sit amet laoreet tellus interdum eu.
      Etiam et odio vitae quam posuere faucibus.
    </a>
    </p>
  </div>
</div>
