<header>
<app-menu-bar></app-menu-bar>

</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqFTnUZhP5BoG2JeY2fYo2ypFduthqT_VQNQ&usqp=CAU"
      cardTitle="Homen de Ferro"
      cardDescription=" Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Donec tincidunt justo leo, sit amet laoreet tellus interdum eu.  Etiam et odio vitae quam posuere faucibus."
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://sm.ign.com/ign_br/news/m/marvels-av/marvels-avengers-15-unannounced-characters-reportedly-found_ypfr.jpg"
      cardTitle="Versão do Angular"
    >
    </app-small-card>

    <app-small-card
      photoCover="https://sm.ign.com/ign_br/news/m/marvels-av/marvels-avengers-15-unannounced-characters-reportedly-found_ypfr.jpg"
      cardTitle="Versão do Angular"
    >
    </app-small-card>

    <app-small-card
      photoCover="https://sm.ign.com/ign_br/news/m/marvels-av/marvels-avengers-15-unannounced-characters-reportedly-found_ypfr.jpg"
      cardTitle="Versão do Angular"
    >
    </app-small-card>
  </div>
</div>
