<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://s2.glbimg.com/8dd4CjGZDaVi7kuWQkjBZ9SS8UA=/512x320/smart/e.glbimg.com/og/ed/f/original/2019/01/17/bb465df84ce53e566dddd64c69b2ff73-754x394.jpg"
      cardTitle="Harry potter and his friends"
      cardDescription=" Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Donec tincidunt justo leo, sit amet laoreet tellus interdum eu.  Etiam et odio vitae quam posuere faucibus."
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      photoCover="https://irs.www.warnerbros.com/keyart-jpeg/movies/media/browser/hp_1_key_art.jpg"

      cardTitle="Based on the first of J.K. Rowling's popular children's novels about Harry Potter,
                 the live-action family adventure film Harry Potter and the Sorcerer's Stone tells the story of a boy who learns on his 11th birthday
                 that he is the orphaned son of two powerful wizards and possesses unique magical powers of his own. Invited to attend Hogwarts School of Witchcraft and Wizardry,
                 Harry embarks on the adventure of a lifetime. At Hogwarts, he finds the home and the family he has never had.​"
    >
    </app-small-card>

    <app-small-card
      id="3"
      photoCover="https://irs.www.warnerbros.com/keyart-jpeg/movies/media/browser/hp_2_key_art.jpg"

      cardTitle="
                  After a long summer with the horrid Dursleys,
                  Harry Potter is thwartedin his attempts to board the train to Hogwarts School of Witchcraft andWizardry to begin his second year.
                  Harry's only transportation option isa magical flying car,
                  but, unfortunately, it crashes into a valuableWhomping Willow.
                  Still, all this seems like a day in the park comparedto what awaits Harry that fall within the haunted halls of Hogwarts.Chilling,
                  malevolent voices whisper from the walls only to Harry and itseems certain that his classmate Draco Malfoy is out to get him.
                  Soonit's not just Harry who is worried about survival, as dreadful thingsbegin to happen at the school.
                  The mysteriously gleaming foot high wordson the wall proclaim: The Chamber of Secrets Has Been Opened.
                  Enemiesof the Heir, Beware.​"
    >
    </app-small-card>

    <app-small-card
      id="4"
      photoCover="https://irs.www.warnerbros.com/keyart-jpeg/movies/media/browser/hp_3_key_art.jpg"

      cardTitle="
                  Harry, Ron and Hermione return as teenagers for a third term at Hogwarts School of Witchcraft and Wizardry.
                  But Harry's fate, and that of the entire community of wizards,
                  looks bleak when the infamous Sirius Black--convicted of abetting evil Lord Voldemort by killing 13 people with a single curse--escapes from prison.
                  The only clue to where Sirius is headed: The Azkaban guards heard Black muttering in his sleep
                  He's at Hogwarts ... He's at Hogwarts.
                  Now, even within the walls of his magical school, Harry may not be safe from a convicted killer in Harry Potter and the Prisoner of Azkaban."
    >
    </app-small-card>
  </div>
</div>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="5"
      photoCover="https://t2.tudocdn.net/598558?w=1920"
      cardTitle="They are teenagers now"
      cardDescription=" Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Donec tincidunt justo leo, sit amet laoreet tellus interdum eu.  Etiam et odio vitae quam posuere faucibus."
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="6"
      photoCover="https://irs.www.warnerbros.com/keyart-jpeg/movies/media/browser/harry_potter_4_goblet_of_fire_hp4_2000x3000.jpg"

      cardTitle="
                It's Harry Potter's fourth term at Hogwarts School of Witchcraft andWizardry!
                Harry, Ron and Hermione look forward to the internationalQuidditch finals.
                Harry dreams of spending time with the alluring ChoChang.
                He wants to be a normal 14-year-old wizard . . .
                But Harry is notnormal--even by wizarding standards.
                This term, for the first time inhundreds of years,
                a competition will be held between three schools ofwizardry,
                and contestants will be magically chosen for the verydangerous event.
                Now, as Harry's lightning scar burns, indicating theevil presence of Lord Voldemort,
                the Goblet of Fire makes its finalselection for the competition--Harry Potter."
    >
    </app-small-card>

    <app-small-card
      id="7"
      photoCover="https://irs.www.warnerbros.com/keyart-jpeg/movies/media/browser/hp_5_key_art.jpg"

      cardTitle="
                A summer has passed since Harry's encounter with the Dark Lord,
                andHarry returns to learn that the wizarding community remains in denialabout Voldemort's return;
                the minister of magic believes that HeadmasterDumbledore is lying; and a new Defense Against the Dark Arts teacher hasbeen assigned.
                Now, with the entire wizard community in peril, thefuture of magic may depend on Harry Potter and the Order of the Phoenix.When the new professor,
                Dolores Umbridge's (Imelda Staunton--NannyMcPhee, Vera Drake),
                Ministry-approved course of defensive magic leavesthe young wizards woefully unprepared to protect themselves against thedark forces threatening them and the entire wizarding community,Hermione (Emma Watson) and Ron (Rupert Grint) urge Harry (DanielRadcliffe) to act.
                Meeting secretly with a small group of students whoname themselves Dumbledore's Army,
                Harry teaches them how to defendthemselves against the Dark Arts.​"
    >
    </app-small-card>

    <app-small-card
      id="8"
      photoCover="https://irs.www.warnerbros.com/keyart-jpeg/movies/media/browser/hp_6_key_art.jpg"

      cardTitle="
                  Harry Potter returns to Hogwarts for his sixth year--to face a growing danger that may be more than a match for his strengthening powers as a wizard
                  . . .While Death Eaters emboldened by the return of Lord Voldemort wreak havoc in both the Muggle and Wizarding worlds,
                  Harry suspects new dangers lie within Hogwarts.
                  Dumbledore, racing to prepare Harry for a final battle that he knows is fast approaching,
                  brings him on a perilous mission to find the key to unlock Voldemort's defenses. Meanwhile,
                  the students are under attack from a different adversary as teenage hormones rage: Harry's friendship with Ginny Weasley grows into something deeper;
                  Lavender Brown lavishes her affections on Ron;
                  Hermione simmers with jealousy
                  . . . and a box of love potion-laced chocolates ends up in the wrong hands.Academy Award nomination for Best Achievement in Cinematography."
    >
    </app-small-card>
  </div>
</div>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="9"
      photoCover="https://s2.glbimg.com/R4asN9Hfsq62Q_w5bmppwfA0ubI=/640x413/smart/e.glbimg.com/og/ed/f/original/2021/12/07/gettyimages-118421455.jpg"
      cardTitle="They grown up so fast"
      cardDescription=" Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Donec tincidunt justo leo, sit amet laoreet tellus interdum eu.  Etiam et odio vitae quam posuere faucibus."
      >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="10"
      photoCover="https://irs.www.warnerbros.com/keyart-jpeg/movies/file/ajax/upload/form-bulnfym7i42ngvyffn0jcfbnjqgyuzu1sydleut2aw/hp_7_part_1_key_art_0.jpg"

      cardTitle="
                 In the first part of the seventh and final adventure,
                 Harry, Ron and Hermione set out on their perilous mission to track down and destroy the secret to Voldemort's immortality and destruction -- the Horcruxes.
                 On their own, without the guidance of their professors or the protection of Dumbledore,
                 the three friends must now rely on one another more than ever.
                 But there are Dark Forces in their midst that threaten to tear them apart.
                 Meanwhile, the wizarding world has become a dangerous place for all enemies of the Dark Lord.
                 The long-feared war has begun and Voldemort's Death Eaters seize control of the Ministry of Magic and even Hogwarts,
                 terrorizing and arresting anyone who might oppose them. But the one prize they still seek is the one most valuable to Voldemort: Harry Potter.
                 The Chosen One has become the hunted one as the Death Eaters search for Harry with orders to bring him to Voldemort...alive.​​"
    >
    </app-small-card>

    <app-small-card
      id="11"
      photoCover="https://irs.www.warnerbros.com/keyart-jpeg/movies/media/browser/hp_7_part_2_kay_art.jpg"

      cardTitle="
                 The motion picture event of the generation comes to a close in the second part of the final chapter in the monumental Harry Potter series.
                 Following 2010's first installment, the boy wizard's final adventure concludes with the climactic final battle between The Boy Who Lived and the Dark Lord Voldemort (Ralph Fiennes).
                 Making their final stand upon the ramparts of Hogwarts School of Witchcraft and Wizardry,
                 Harry Potter (Daniel Radcliffe) and his friends Ron and Hermione (Rupert Grint and Emma Watson)
                 face their greatest foe and make the ultimate sacrifice on the landmark journey that bestselling author J.K. Rowling first undertook more than a decade ago.​ "
    >
    </app-small-card>

    <app-small-card
      id="12"
      photoCover="https://irs.www.warnerbros.com/gallery-v2-jpeg/harry_potter_and_the_deathly_hallows__part_2_posterlarge_3-153525275.jpg"

      cardTitle="And the good wons"
    >
    </app-small-card>
  </div>
</div>
